@import './index.scss';


.keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-around;
  @include disable-selection;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;

    button.note-key, .key-separator {
      width: 2rem;
      height: 5rem;
      text-align: center;
    }

    .key-half-separator {
      width: 1rem;
      height: 5rem;
    }

    button.note-key.white {
      background: white;
      color: black;
      &.playing {
        box-shadow: 0em 0em 1em lightgrey inset;
      }
    }
    button.note-key.black {
      background: black;
      color: white;
      &.playing {
        box-shadow: 0em 0em 1em grey inset;
      }
    }
  }


}
