@import './index';

.keyboard {

  .row {
    align-content: space-around;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    &.white {
      margin-top: -1rem;
    }

    button.note-key,
    .key-separator {
      height: 5rem;
      text-align: center;
      width: 2rem;
    }

    button.note-key {
      border: 1px grey solid;
      outline: none;

      p {
        margin: .1rem;
      }
    }

    .key-half-separator {
      height: 5rem;
      width: 1rem;
    }

    button.note-key.white {
      background: white;
      color: black;
      z-index: 100;

      &:first-child {
        border-bottom-left-radius: .5rem;
      }

      &:last-child {
        border-bottom-right-radius: .5rem;
      }

      &.playing {
        box-shadow: 0 0 1rem grey inset;
      }

      .subtitle {
        color: grey;
      }
    }

    button.note-key.black {
      background: black;
      border-radius: 0 0 .5rem .5rem;
      color: white;
      z-index: 200;

      &.playing {
        box-shadow: 0 0 1rem grey inset;
      }

      .subtitle {
        color: grey;
      }
    }
  }


  .info-container {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 1rem;

    .info {
      font-size: .6rem;
      margin: 0;
      padding: .5rem 1rem;

      img.icon {
        @include disable-user-drag;
        margin-right: 1em;
        vertical-align: middle;
      }
    }
  }

}
